<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <title>Login</title>
  </head>
  <body>
	  <div class="ui two column centered grid">
			<div class="row">
				<div class="column">

					<h1>Login</h1>
					<ul>
					  <% if(messages.success_msg) { %>
					  <li><%= messages.success_msg %></li>
					  <%}%>
					</ul>
				
					<ul>
					  <% if(messages.error) { %>
					  <li><%= messages.success_msg %></li>
					  <%}%>
					</ul>
					<form action="/users/login" method="POST" class="ui form">
					  <div class="field">
						<input
						class="ui input error"
						  type="email"
						  name="email"
						  id="email"
						  placeholder="Email"
						  required
						/>
					  </div>
					  <div class="field">
						<input
						class="ui input error"
						  type="password"
						  name="password"
						  id="password"
						  placeholder="Password"
						  required
						/>
					  </div>
					  <div>
						<input class="ui blue button" type="submit" value="login" />
					  </div>
					  <a href="/users/Register">You are not registered yet? Register now!</a>
					</form>
				</div>
			</div>
	  </div>
	  <%- include('partials/footer'); %>
